<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969068781902-p7mcofs579q98iugpimsr6l363j7vml3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969068781902-p7mcofs579q98iugpimsr6l363j7vml3</string>
	<key>API_KEY</key>
	<string>AIzaSyBY0btUxyGT8v0o9eGqiIs5JdCNR1PCkhI</string>
	<key>GCM_SENDER_ID</key>
	<string>969068781902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>my-first-notification-7b13f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-notification-7b13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969068781902:ios:26fdc3021b551dee68be1f</string>
</dict>
</plist>